@using SCE_Website.Models

	<form action="Menu" method="post">
		<input id="ShowCoursesGrade" type="submit" value="Show my grades" name="ShowCoursesGrade" />
		<br />
		<input id="ShowCoursesSchedule" type="submit" value="Show my courses schedule" name="ShowCoursesSchedule" />
		<br />
		<input id="ShowExamSchedule" type="submit" value="Show my exams schedule" name="ShowExamSchedule" />
	</form>